.homePage {
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97vw;
}

.homePage ::before{
    content: '';
    background-image: url('../images/core\ pipe\ 3\ watermarked.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 90%;
    z-index: -1;
    animation: change 15s infinite ease-in-out;
}
.BT {
    width: 380px;
    height: 80px;
    border-radius: 40px;
    display: block;
    background: #A26B39;
    margin: auto;
    border: none;
    text-align: center;
}

.atag {
    display: block;
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}

.hometext {
    font-family: Montserrat;
    font-size: 2.5rem;
    /* font-size: 50px; */
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 700px;
    height: 183px;
    margin: 80px;
    padding: 10px;
}
.homecontain{
    width : 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    /* margin-top: -100px; */
}
@keyframes change {
    0%{
        background-image: url('../images/core\ pipe\ 3\ watermarked.jpg');
    }
    33%{
        background-image: url('../images/core\ pipe\ 4\ watermarked.jpg');
    }
    66%{
        background-image: url('../images/core\ pipe\ 1\ watermarked.jpg');
    }
    100%{
        background-image: url('../images/core\ pipe\ 3\ watermarked.jpg');
    }
}
@media screen and (max-width : 1080px) and (min-width : 915px) {
    .hometext{
        font-size: 2rem;
        margin: 50px;
        width: 600px;
    }
    .atag{
        font-size: 1.3rem;
    }
    .BT{
        width: 300px;
        height: 80px;
    }
}
@media screen and (max-width : 915px) and (min-width : 435px) {
    .hometext{
        font-size: 1.5rem;
        margin: 40px;
        width: 410px;
        
    }
    .homePage{
        padding-top: 80px;
    }
    .homePage ::before{
        top: 80px;
    }
    .atag{
        font-size: 1rem;
    }
    .BT{
        width: 250px;
        height: 65px;
    }
}
@media screen and (max-width : 435px) {
    .hometext{
        font-size: 1rem;
        margin: 30px;
        height: 130px;
        width: 289px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .atag{
        font-size: 0.7rem;
        line-height: 0px;
    }
    .BT{
        width: 270px;
        height: 60px;
    }
    .homePage{
        
        padding-top: 80px;
    }
    .homePage ::before {
        
        top: 80px;
    }

}