.chooseus{
    /* height:500px; */
    padding-top: 85px; 
    color: #000;
    font-family: Poppins;
    
    font-style: normal;
    
    line-height: normal;
}
@media screen and (max-width : 1440px) and (min-width : 1248px) {
    .whychooseus{
        width: 317px !important;
        height: 400px !important;
    }
    .fontchooseus{
        font-size: 24px !important;
    }
}
@media screen and (max-width : 1248px) and (min-width : 1030px){
    .whychooseus{
        width: 200px !important;
        height: 350px !important;
    }
    .whychooseus1{
        width: 150px !important;
        height: 150px !important;
    }
    .fontchooseus{
        font-size: 16px !important;
    }
    .imagechoose{
        height: 60px !important;
    }
}
@media screen and (max-width:1030px){
    
    #chooseUs{
        flex-direction: column !important;
    justify-content: center;
    align-items: center;
    }

}