.ourmission{
    height: 100vh;
    width:100vw;
    margin-top: 2rem;
    
    
}
.ourmissiontext{
    height: 100vh;
    width:50vw;
    margin-top: 5%;
}
.ourmissionimg{
    height: 100vh;
    width:50vw
}
p{
    color: #666666;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.20px;
    /* word-wrap: break-word; */
    margin-top: 5%;
}
@media screen and (max-width : 1260px) {
    .ourmission{
        flex-direction: column;
        margin-top: 20%;
        height:85%;
    }
    .ourmissiontext{
        /* flex-direction: column; */
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height:75vh;
        text-align: justify;
        padding: 7%;
    }
    .ourmissionimg{
        display: none !important;
        /* flex-direction: column;
        align-items: center; */

    }
    .ourmissionimg2{
        flex-direction: column;
        align-items: center;
    }
    .omimg2{
        height:100% !important;
        width:100% !important;
    }
}