.ourmission{
    height: 100vh;
    width: 94vw;
    margin: 4.25rem;
    margin-bottom: 0rem;
    gap: 4rem;
}

.ourmissiontext{
    height: 100vh;
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.ourmissionimg{
    height: 100vh;
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ompara{
    color: #666666;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.20px;
    /* word-wrap: break-word; */
    text-align: justify;
}
@media screen and (max-width : 1260px) {
    .ourmission{
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
        height:85%;
    }
    .ourmissiontext{
        /* flex-direction: column; */
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height:75vh;
        text-align: justify;
        padding: 7%;
    }
    .ourmissionimg{
        display: none !important;
        /* flex-direction: column;
        align-items: center; */

    }
    .ourmissionimg2{
        flex-direction: column;
        align-items: center;
    }
    .omimg2{
        height:100% !important;
        width:100% !important;
    }
}