img{
    width: 200px;
    height: 80px;
}
nav{
    width: 100vw;
    font-size: 1.25rem;
    height: 80px;
    position: fixed !important;
    background-color: white !important;
}
li{
    margin: 20px;
}
.dropdown-menu{
    position: relative;
    left: -50px;
}
#navitems{
    margin: 0px !important; 
}
@media screen and (max-width : 1150px) and (min-width :1078px) {
    #navitems {
        font-size: 1.1rem !important;
    }
}
@media screen and (max-width : 1078px) and (min-width :1030px) {
    #navitems {
        font-size: 1rem !important;
    }
}
@media screen and (max-width : 1030px) and (min-width :991px) {
    #navitems {
        font-size: 0.9rem !important;
    }
}
@media screen and (max-width : 900px) {
    nav{
        font-size: 1rem !important;
    }
}