.footer{
    background-color: black;
    color: white;
    justify-content: center;
}
h3{
    color: white; font-size: 28px; font-family: Poppins; font-weight: 600; letter-spacing: 0.84px; word-wrap: break-word;
}
.para{
    width: 70%; text-align: justify; color: white; font-size: 18px; font-family: Montserrat; font-weight: 500; letter-spacing: 0.18px; word-wrap: break-word;
}
.contactfooter{
    width:100%;
    text-align: center; color: white; font-size: 20px; font-family: Montserrat; font-weight: 700; letter-spacing: 0.20px; word-wrap: break-word;
}
.infofooter{
    width: 50%;
}
.contactfooter ul{
    list-style: none;
    text-align: left;
    padding: 0%;
}
.contactfooter li{
    margin: 0%;
}