.footer{
    background-color: black;
    color: white;
    justify-content: center;
    height: 40vh;
}
.footerheading{
    color: white; font-size: 2rem; font-family: Poppins; font-weight: 570; letter-spacing: 0.84px; word-wrap: break-word;
}
.para{
    width: 70%; text-align: justify; color: white; font-size: 18px; font-family: Montserrat; font-weight: 400; letter-spacing: 0.18px; word-wrap: break-word;
}
.contactfooter{
    width:100%;
    text-align: center; color: white; font-size: 18px; font-family: Montserrat; font-weight: 570; letter-spacing: 0.20px; word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infofooter{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.contactfooter ul{
    list-style: none;
    text-align: left;
    padding: 0%;
}
.contactfooter li{
    margin: 0%;
}
.rect{
    width: 0.4rem; height: 2.4rem; background: #D52B1E; border-radius: 5px;margin-top: 2%;
}
.contactusfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
@media screen and (max-width : 1260px) {
         .footer{
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            height: 75vh;
         }
         .infofooter{
              width: 85%;
         }
         .para{
            width: 90%;
         }
         .contactfooter{
            width: 85%;
       }

}