.companyprofile ::before{
    padding-top: 100px;
   
}

.ClickBT{
    margin-bottom: 2rem;
}
.IMGcont{
/* margin-top:144px ; */
width: 100vw;
height: 70vh;
background:url("https://idlpack.com/image/cache/catalog/Boxes42-1500x1500.jpg");
display: flex;
justify-content: center;
align-items: center;

}
.ProfileText{
width: 895px;
height: 167px;
font-family: poppins;
font-weight: 900;
font-size:5rem ;
text-align: center;
}
.PrFULL{
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
    margin-top: 3rem;
    
}
.PrIMG{
    
    width: 50%;
}
.BUTT{
    height:67px ;
    width: 447px;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
}
.PrTEXT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    color: #5B5B5B;
font-size: 24px;
font-family: Montserrat;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.25px;
word-wrap: break-word;
}

.CompanyLoc{
    height: 72vh;
    width: 100vw; 
}

.Loc{
    width:100vw ;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.LocText{
    font-weight: 600;
    font-size: 2.6rem;
    text-align: center;
    padding-bottom: 50px;
}

.AddDetails{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2rem; 
   width: 60%;
   align-items: center; 
}

.Companypro{
    display: flex;
    justify-content:space-around;
    
}

.AddMap{
    width: 60%;
    
}

#NaMe{
    display: flex;
    width: 18vw;
    height: 12vh;
    justify-content: center;
    gap: 1rem;
    margin-right: 4%;
}

#UsEr{
    display: flex;
    flex-direction: column; 
}

#PHN{
    width:18vw ;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
#ADDlogo{
    display: flex;
    flex-direction: row;
    width:19vw ;
    height: 9vh;
    justify-content: center; 
    gap: 1rem; 
    margin-left: 10%;
}
#CompADD{
    display: flex;
    flex-direction: column; 
}
p1{
    font-weight: 600;
    font-size: 1.2rem;
}
p2{
    font-weight: 500;
    font-size: 1rem; 
}
p3{
    font-weight: 500;
    font-size: 1.2rem;
}
p4{
    font-weight: 600;
    font-size: 1.2rem;
}
.pa5{
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
}
.orderContent{
    height: 85vh;
    width: 100vw;
    /* padding: auto 0; */
}
.OrderDR{
    height: 71vh;
    width: 75vw;
    margin: auto;
    /* padding: 0 auto ; */
    background-color: #F9F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9rem 0rem;
}
p11{
    color: black;
font-size: 22px;
font-family: Montserrat;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.25px;
word-wrap: break-word;
margin: 1rem;
margin-bottom: 0rem;
}
p12{
    color: black;
font-size: 22px;
font-family: Montserrat;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.25px;
word-wrap: break-word;
margin: 1rem;
margin-top: 0.2rem;
margin-bottom:1.8rem ;
}
p13{
    color: black;
    font-size: 27px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    margin: 1rem;
}

.MemberBTT1{
    height:67px ;
    width: 55%;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
    /* font-size: 1.3rem; */
    
}
.MemberBTT{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 3%;
    margin-bottom: 5%;
    height:15% ;
    width: 70%;
    justify-content: space-between;
    gap: 2rem;
}
.MemberBTT2{
    height:67px ;
    width: 55%;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
}
.MemberBTT3{
    height:67px ;
    width: 236px;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
    margin-top: 5%;
}
@media screen and (max-width : 1260px) {
  .PrFULL{
    height: 100vh;
  }
    .PrTEXT{
    width: 100% !important;
    padding: 5%;
    text-align: center !important;
    margin: auto;
  }
  .PrIMG{
    display: none !important;
  }
  .BUTT{
    height:35px ;
    width: 350px;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
}
.CompanyLoc{
    height: 90vh;
    width: 100vw;
    /* gap: 3rem; */
   
}
.AddMap{
    height: 80vh !important;
    width: 80% !important;
    border-radius: 13px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    /* margin: auto; */
}
.Companypro{
    height: 50vh;
    width: 100vw;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   align-items: center!important;
   margin: auto;
   padding: auto;
   gap: 6rem;
}
.AddDetails{
    width: 100vw;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 38%;
    

}
/* #PHN{
    width:13vw ;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.MemberBTT1{
    height:37px ;
    width: 175%;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
    margin-bottom: 5%;
    /* font-size: 1.3rem; */
    /* font-size: 0.5rem !important; */
    
}
.MemberBTT{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 3%;
    margin-bottom: 2%;
    height:24% ;
    width: 55%;
    justify-content: space-between;
    gap: 2rem !important;
}
.MemberBTT2{
    height:37px ;
    width: 145%;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
}
.MemberBTT3{
    height:47px ;
    width: 136px;
    border-radius:75px ;
    display: block;
    background: #A26B39;
    border: none;
    text-align: center;
    margin-top: 5%;
}
    }
