.productDetails{
    padding-top: 100px;
    display: flex;
    flex-direction: row;

}
#imagesDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
#mainImage{
    text-align: center;
    height: 500px;
    width: 500px;
}
#detailsDiv{
    width: 50%;
}
#imageButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productImage{
    height: 500px;
    width: 500px;
    object-fit: contain !important;
}
