#top{
    padding-top: 100px;
}
.productDetails{
    padding-top: 110px;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;

}
.hovereffect {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hovereffect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovereffect:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  
#imagesDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.imgBt{
    border: 0;
    background-color: white;
    margin: 4px 0;
}
#mainImage{
    width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
    
}
#detailsDiv{
    width: 50%;
    padding-top: 50px;
}
#imageButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.productImage{
    width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 30px;
    /* border-radius: 30px; */
}
@media screen and (max-width : 1176px) {
    .productDetails{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #imagesDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #imageButtons{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #detailsDiv{
        text-align: center;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .spanSex{
        /* text-align: center;
        padding: 0px 100px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px !important;
    }
    .buttonDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .yoyo{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width : 673px) {
    #mainImage{
        height: 300px;
        width: 300px;
    }
    .miniButtons{
        height: 30px !important;
        width: 30px !important;
    }
    .contentDiv{
        width: 300px !important;
    }
    .yoyo{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width : 401px){
    .contentDiv{
        width: 200px !important;
        font-size: 0.8rem !important;
    }
    .yoyo{
        display: flex;
        justify-content: center;
    }

}